<a href="https://colab.research.google.com/github/John1Tang/ML-000/blob/main/Week09/find_param_with_lgm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

找到至少 1 个能够提升模型效果的衍生变量（以 lightgbm 为基础模型）。

附件里是作业要用到的数据集，其中 loan_status 是 y 值

In [1]:
import numpy as np
import pandas as pd
import lightgbm as lgb
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split

### Load Data

In [2]:
train = pd.read_csv('drive/MyDrive/final/train_final.csv')
test = pd.read_csv('drive/MyDrive/final/test_final.csv')

### Metadata

In [3]:
train.head()

   continuous_annual_inc  ...  discrete_term_2_one_hot
0                55000.0  ...                        0
1                65000.0  ...                        0
2                63000.0  ...                        1
3               104433.0  ...                        1
4                34000.0  ...                        0

[5 rows x 146 columns]

### Data Shape

In [10]:
train.shape

(50000, 146)

In [14]:
train['loan_status'].value_counts()

1    39788
0    10212
Name: loan_status, dtype: int64

In [13]:
train.shape[0] == sum(train['loan_status'].value_counts())

True

### LGB Default Param